<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Overphone</title>
  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">

        <title>Tooplate's Little Fashion</title>

        <!-- CSS FILES -->

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link rel="stylesheet" href="css/slick.css"/>

        <link href="css/tooplate-little-fashion.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="container">
    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>
    
    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert"><%= messages.success %></div>
    <% } %>
    <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand-center"  >
                <h2><img src="https://media.discordapp.net/attachments/383237359023685634/970275987529023508/over.jpg"></h2>
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/books/show/" >🏠Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/books/detail">🏪Store</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" >Products</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" >FAQs</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/books" >Admin</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <section class="slick-slideshow">   
        <div class="slick-custom">
            <img src="https://images.assettype.com/thequint/2016-01/5d8ecc36-754f-4ce6-b480-972a2f7acaf8/mac-ios.jpg" class="img-fluid" alt="">

            <div class="slick-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-10">
                            <h1 class="slick-title">New Apple</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="slick-custom">
            <img src="https://javascriptly.com/wp-content/uploads/2021/02/3-7-768x432.jpg" class="img-fluid" alt="">

            <div class="slick-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-10">
                            <h1 class="slick-title">ViVo</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="featured-product section-padding">
        <div class="container">
            <div class="row">
                
                <div class="col-12 text-center">
                    <h2 class="mb-5">Overphone Shop</h2>
                </div>

                <div class="col-lg-4 col-12 mb-3">
                    <div class="product-thumb">
                        <% if(data.length) { %>
                            <% for(let i = 0; i < data.length; i++) { %>
                                <div class="card" style="width: 19rem">
                                    <!-- ในหน้าที่ต้องการแสดงรูปภาพ -->
                                    <img src="/<%= data[i].image %>" alt="Image">
                                    <div class="card-body">
                                      <h5 class="card-title"><%= data[i].product %></h5>
                                      <small class="card-text ">ประเภท: <%= data[i].category %></small><br>
                                      <p class="card-text ">ราคา: <%= data[i].price %>  บาท</p>
                                      <span class="badge bg-warning text-dark">ขนาดความจุ <%= data[i].GB %></span><br>
                                      <a href="/books/detail/<%= data[i].id %>" class="btn btn-primary">Buy</a>
                                    </div>
                                </div>
                                <P></P>
                           <% } %>
                        <% } %>
                    </div>
                </div>
                
                </div>

                <div class="col-12 text-center">
                    <a href="index.html" class="view-all">View All Products</a>
                </div>

            </div>
        </div>
    </section>
    
            <!-- if result is empty -->
            <% if(!data.length) { %>
                <p class="text-center">No book found!</p>
            <% } %>
        </div>
    </div>

</body>
</html>